.blog-list {
	margin-top: 3em !important;
}

.form-padding {
	padding: 5em;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.home-content {
	margin-top: 2em !important;
}

.sign-in {
	margin-top: 10em !important;
}

.team-section {
	padding: 2em !important;
}
