.blog-list {
	margin-top: 3em !important;
}

.form-padding {
	padding: 5em;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.home-content {
	margin-top: 2em !important;
}

.sign-in {
	margin-top: 10em !important;
}

.team-section {
	padding: 2em !important;
}

.space {
	margin-right: 1em;
	font-size: 1.5em;
}

.indicator-item {
	background-color: #ffffff !important;
	opacity: 0 !important;
}

.indicator-item.active {
	background-color: #ffffff !important;
	opacity: 0 !important;
}

.home {
	background-color: black;
}
